<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
</head>

<body>
    <!--http://webaim.org/techniques/skipnav/-->
    <a href="#contenu" class="visuallyhidden focusable"> Allez au contenu</a>
    <nav class="nav" aria-label="Menu principal">
        <ul class="nav__list" id="navList">
            <li class="nav__list-item"><a href="<?php echo $niveau . $niveau . 'index.php' ?>"
                    class="nav__link nav__link--active" aria-current="page">Accueil</a></li>
            <li class="nav__list-item"><a href="public/artistes/index.php" class="nav__link">
                    Participants</a></li>
            <li class="nav__list-item"><a href="index.php"> lien3</a></li>
            <li class="nav__list-item"><a> </a></li>
            <li class="nav__list-item"></li>
        </ul>
    </nav>
</body>

</html>